*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.background{
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background:linear-gradient(120deg, #456127 ,#885647);

}
.container-1{
    background: #fff;
    width: 100%;
    max-width: 500px;
    padding: 5rem;
    margin: 5rem auto 3rem;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.container-1 h1{
    display: flex;
    align-items: center;
}
.container-1 img{
    width: 4rem;
}
@media(max-width:768px){
    .container-1 h1{
        font-size: 28px;
    }
    .searchbar button{
        padding: 15px 40px  ;
        border: none;
        outline: none;
        background:linear-gradient(120deg, #456127 ,#885647);
        border-radius: 40px;
        cursor: pointer;
        font-size: 18px;
        color: #eee;
        position: relative;
        top: 4rem;
        left: -7rem;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }

}
@media(max-width:458px){
    .container-1 h1{
        font-size: 22px;
    }
    .searchbar button{
        padding: 15px 40px  ;
        border: none;
        outline: none;
        background:linear-gradient(120deg, #456127 ,#885647);
        border-radius: 40px;
        cursor: pointer;
        font-size: 18px;
        color: #eee;
        position: relative;
        top: 4rem;
        left: -4.5rem;
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
    }
    ::placeholder { 
        font-size: 2px;
    }

}
@media(min-width:459px){

}
.searchbar{
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.searchbar input{
    background: transparent;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}
.searchbar button{
    padding: 15px 40px  ;
    border: none;
    outline: none;
    background:linear-gradient(120deg, #456127 ,#885647);
    border-radius: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #eee;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
::placeholder { 
    font-size: 25px;
  }
ul li{
    list-style: none;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 22px;
    width: 22px;
    background-image: url(download.png);
    background-size: cover;
    background-position: center;
    left: -30px;
    top: 2px;
}
ul li.checked{
    text-decoration:line-through;
    color: black;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    top: 0px;
    left: 320px;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: rgb(0, 0, 0)101;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
ul li span:hover{
    background-color: #887f7f;
    color: #000000;
}